.task-item {
    display: flex;
padding: 20px 32px;
list-style: none;
 &:not(:last-child) {
border-bottom: 1px solid #DFE0EB;
}
}
.new:checked ~ .new1 {
        background-image: url("../../../../../assets/images/check.png");
        background-size: cover;
    }


.urgent:checked ~ .urgent0 {
        background-image: url("../../../../../assets/images/check.png");
        background-size: cover;
    }
    
.default:checked ~ .default2 {
    background-image: url("../../../../../assets/images/check.png");
    background-size: cover;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.urgent0,.default2,.new1{
    display: block;
margin-right: 16px;
width: 20px;
height: 20px;
border-radius: 50%;
border: 1px solid #000;
}

.texttask{
    margin: 0;
flex-grow: 1;
font-family: 'Mulish';
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #252733;

}

.infotask{
    padding: 5px 12px;
    border-radius: 8px;
    font-family: 'Mulish';
font-size: 11px;
line-height: 14px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.5px;
text-transform: uppercase;
color: #FFFFFF;
}