a {
  text-decoration: none;
}
.menu-item {
padding: 20px 32px;
display: flex;
align-items: center;
border-left: 3px solid transparent;
&:hover{
  background-color: #9fa2b4cc;  
  border-left: 3px solid #DDE2FF;
  svg path {
    fill: #000 !important;
  }
}
&:nth-child(6){
  position: relative;
  margin-bottom: 30px;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dfe0eb4b;
    bottom: -15px;  
    left: 0;

  }
}
}
.text {
  margin-left: 24px;
  font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.2px;
color: #DDE2FF;
}