/* mulish-regular - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../../assets/fonts/mulish-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../assets/fonts/mulish-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F7F8FC;
  overflow: hidden;
}

.App{
  display: flex;
  max-width: 1536px;
  margin: 0 auto;
}
.hiro{
  width: 83%;
}
.error-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
.bace {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
  top: 85%; 
  border: none;
  background-color: #2B447D;
  color: white;
  font-family: 'Mulish', sans-serif;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.intro{
  overflow: auto;
  height:100vh
}