.ticket-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 32px 32px 0 32px
}

.ticket-header-title{
    font-family: 'Mulish';
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
}

.ticket-header-text{
    font-family: 'Mulish';
font-size: 12px;
line-height: 16px;
letter-spacing: 0.1px;
color: #9FA2B4;
}

.details-link{
border: transparent;
background-color: transparent;
font-family: 'Mulish';
font-size: 14px;
line-height: 20px;
text-align: right;
letter-spacing: 0.2px;
color: #3751FF;
}